html, body {
    margin: 0;
    padding: 0;
    background-color: #343633;
    font-family: 'DM Sans', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    color: #DEC1FF;
    align-items: center;
    justify-content: space-around;
}

.header-nav {
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #DEC1FF;
}

a:hover {
    color: #7D70BA;
}

a:active {
    color: #5CC8FF;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    line-height: 15vh;
    align-items: center;
    background-color: #DEC1FF;
}

.hero h1, p {
    margin: 0;
}

.hero h1 {
    font-size: 60px;
}

.text-wrapper {
    font-size: 24px;
    width: 70vh;
    line-height: 3vh;
    text-align: center;
    margin-bottom: 5vh;
}

.link-icons {
    width: auto;
    height: 3vh;
}

.socmed-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    a {
        color: black;
    }
    
    a:hover {
        color: #7D70BA;
    }
    
    a:active {
        color: #5CC8FF;
    }

}

.client-one {
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 14px;
    align-items: center;

}

.title-text {
    
    h1 {
        font-size: 72px;
    }

}